:root{ 
    --first-color: #7d7d7d;
    --second-color: #626262;
    --third-color: #B4AD9E;
    --hover-color: #03A9F4;
}
.container{
    max-width: 905px;
    padding: 0 15px;
    margin: 0 auto;
    outline: solid green;
}
a{
    text-decoration: none;
    color: var(--first-color);
}
.header-a{
    font-family: "Playfair Display";
}
li{
    list-style-type: none;
}
.header-a:hover{
    color: var(--hover-color);
}

.decorative-p{
    font-family: "Ubuntu";
    color: var(--third-color);
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 300;
    text-align: left;
    line-height: 16px;
}
.decorative-h{
    font-size: 30px;
    font-weight: 400;
    font-family: "Playfair Display";
    line-height: 40px;
    color: var(--second-color);
    text-align: left;
}
.main-p{
    font-size: 14px;
    font-weight: 400;
    font-family: "Playfair Display";
    line-height: 19px;
    color: var(--second-color);
    text-align: left;
}
.decorative{
    width: 421px;
    height: 516px;
    top: 858px;
    left: 147px;
}
.foot-button{
    font-family: "Playfair Display";
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: var(--second-color);
    border: 1px solid #626262;
    background-color: white;
    width: 165px;
    height: 60px;
}
